.main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
}

.columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 900px;
    text-align: center;
}

.column {
    max-width: 250px;
    padding: 50px;
    text-align: left;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    font-size: 15px;
    line-height: 150%;
    font-weight: 400;
    flex-direction: column;
    justify-content: space-between;
}

.one {

    background-color: hsl(31, 77%, 52%);
    border-radius: 15px 0 0 15px;
}
.two {

    background-color: hsl(184, 100%, 22%);
}
.three {

    background-color: hsl(179, 100%, 13%);
    border-radius: 0 15px 15px 0;
}

h1 {
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
    font-size: 45px;
}

.btn{
    text-align: center;
    border: solid 1px white;
    padding: 15px 30px;
    border-radius: 30px;
    cursor: pointer;
}